node_modules
package-lock.json
.idea
/idea
# Игнорировать все файлы в каталоге idea/
idea/
# Игнорировать все файлы в каталоге idea/
.idea/
.gitignore
.gitattributes

# ignore a single file
mycode.class

# ignore an entire directory
/mydebugdir/

# ignore a file type
*.json

# add an exception (using !) to the preceding rule to track a specific file
!package.json

# Но отслеживать файл lib.a даже если он подпадает под исключение выше
!lib.a